.outerMaintenanceDiv {
    width: 100%;
    flex-grow: 1;
    margin: 5% 0 ;
    background: #faf8d3;
    
}

.maintenanceTableDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenanceTable {
    width: 100%;
    
}

.maintenanceTable {
    width: 90%;
}

.maintenanceTitle {
    margin-bottom: 5%;
}

td, th {
    font-size: 12px;
    height: 20px;
}

