.outerCarsDiv {
    width: 100%;
    background: #faf8d3;
    flex-grow: 1;
    display: flex;
    margin: 5% 0 ;

    /* padding: 10% 3%; */

}

.carsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#addCarButton {
    width: 25%;
    margin: 5% 0;
}

td, th {
    font-size: 12px;
    height: 20px;
    padding: 0 1%;
    
}

.carsTable {
    width: 90%;
    
}

.carsTitle{
    /* margin: 5% 0; */
}