.navBarDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5% ;

}

.navBarLinks {
    color: black;
    margin: 0 3%;
    font-size: 14px;
}

@media screen and (min-width: 415px) {
    .navBarLinks {
        font-size: 20px;
    }
}