.loginPage {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #faf8d3;
    padding: 10% 5%;
    align-items: center;

}

.loginArea{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebe461;
    border-radius: 15px;
    justify-content: center;
    padding: 2%;
}

.loginInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.loginInput{
    width: 50%;
    margin: 2% 0;
}

.loginButtons {
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin: 5% 0 ;
}


.loginButton {
    width: 33%;
}

