.createAccount {
    background: #faf8d3;
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding: 10% 5%;
    flex-direction: column;
    
}

.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ebe461;
    padding: 2%;
    border-radius: 15px;
}

.welcomeCreate{
    display: flex;
    justify-content: center;
    margin: 2% 0;
    font-size: 21px;
}

.createInputsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cAdminImgDiv {
    width: 100%;
    display: flex;
    justify-content: center;

}

.cAdminInputDivs {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2% 0 ;
}

.cAdminInputs {
    margin: 0 1%; 
}

.createButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0 0 0;
    
}
.createAccountButtons{
    margin: 0 2%;
}

#adminImg, #adminImgHolder {
    width: 75%;
}

@media screen and (min-width: 1040px) {
    /* * {
        font-size: 25px;

    } */
    .createButtons{
        margin: 3%;
    }
    #adminImg, #adminImgHolder {
        width: 33%;
    }
}

@media screen and (min-width: 415px) and (max-width: 1039px){
    /* * {
        font-size: 36px;
    } */
    .createButtons {
        margin: 4% 0 0 0;
    }
    #createAccountButtons {
        font-size: 25px;
    }
    #adminImg, #adminImgHolder {
        width: 43%;
    }
    
   
}

@media screen and (max-width: 375px){
    #createAccountButtons {
        font-size: 12px; 
    }
    .createButtons {
        margin: 5% 0 0 0 ;
    }
    .createAccount {
        padding: 10% 5% 0 5%;
    }
    #adminImg, #adminImgHolder {
        width: 63%;
        
    }
    
}

